
.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-boton-pdf {
  background: url('../Img/img_pdf.png');
  border: 0;  
  height: 24px;
  width: 24px;
  align-items: center;
}

.img-mmto{  
  height: 20%;
  width: 20%;
  margin-bottom: 0 !important;
}

.mycard{
  width: 18%;
}

#msg{ 
  color: black !important;
  border-radius: 25px !important;
  text-align: center !important;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}    
